/* shared styles */
* {
  font-family: Work Sans;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
  /* margin-bottom: 85px; */
}
main {
  max-width: 1440px;
  margin: 80px auto;
}
.paragraph-color {
  color: rgb(114, 114, 114);
}
/* shared styles */

/* header-part-design */
.banner-header {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
  align-items: center;
  color: rgb(66, 66, 66);
  font-size: 1.25rem;
  font-weight: 500;
}
nav ul li {
  list-style: none;
  margin-right: 40px;
}
.banner-content {
  width: 860px;
  text-align: center;
  margin: 0px auto;
  width: 100%;
}
.banner-content-header {
  color: rgb(19, 19, 19);
  font-size: 4rem;
  font-weight: 700;
}
.btn-primary {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  padding: 20px 25px;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}
.banner-image {
  width: 100%;
  margin-top: 50px;
}
/* main-section-design */
.features-of-services {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
}
.teams-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.features-of-services-content {
  padding: 0px 75px;
}
.quick-list {
  font-size: 2.8rem;
  font-weight: 500;
  color: rgb(114, 114, 114);
}
.of-our {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
}
.features {
  color: rgb(255, 144, 14);
  font-size: 2.8rem;
  font-weight: 700;
}
.features-all {
  display: flex;
  margin: 130px 100px;
  gap: 100px;
}
.features-description-title {
  color: rgb(19, 19, 19);
  font-size: 45px;
  font-weight: 700;
  border-left: 5px solid;
  border-color: rgb(255, 144, 14);
  padding: 20px;
}
.card-title-2 {
  color: rgb(19, 19, 19);
  font-size: 1.25rem;
  font-weight: 600;
}
.card-features {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 20px;
}
.architect-image {
  width: 600px;
  height: 900px;
  padding-left: 80px;
}
.architect h3 {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 0;
}
.architect p {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-top: 0;
}
.architect {
  width: 250px;
  height: 100px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  padding: 45px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
/* facts styles */
.facts h3 {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.facts p {
  margin-bottom: 100px;
}
.some-facts {
  margin-left: 80px;
}
.card-all .card {
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  text-align: center;
  padding: 30px;
}
.card-all {
  display: flex;
  justify-content: center;
  gap: 125px;
}
.card-title {
  color: rgb(66, 66, 66);
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.card-description {
  color: rgb(114, 114, 114);
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}
/* all sponsors */
.sponsors {
  text-align: center;
  margin-bottom: 50px;
}
.sponsors-header {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.sponsors-images {
  display: flex;
  justify-content: space-around;
  margin: 0 200px;
}
.sponsors-images img {
  margin-left: 120px;
}
footer {
  border-radius: 8px;
  background: rgb(255, 244, 231);
  text-align: center;
  margin-top: 130px;
  padding: 40px 0px;
}
/* media query for small device */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  header {
    padding: 20px;
  }
  .banner-header {
    text-align: center;
  }
  .teams-images {
    grid-template-columns: 1fr;
  }
  .features-of-services {
    flex-direction: column-reverse;
    margin: 20px auto;
  }
  .features-of-services-content {
    margin-bottom: 20px;
  }
  .card-all,
  .sponsors-images {
    flex-direction: column;
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
  }
  .card-all .card {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .some-facts {
    margin: 0 auto;
  }
  .sponsors-images img {
    margin-bottom: 20px;
    width: 180px;
  }
  .sponsors-images {
    align-items: center;
    margin-left: 70px;
  }
  .features-all{
    flex-direction: column;
    margin: 0 auto;
  }
  .features-description{
    text-align: center;
  }
  .architect-image{
    width: 300px;
    height: 400px;
    padding-left: 50px;
  }
  .architect{
    width: 100px;
    height: 70px;
    padding: 5px;
    position: relative;
    bottom: 50px;
  }
  .architect h3 {
    font-size: 1.2rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 0;
  }
  .architect p {
    font-size: 0.6rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin-top: 0;
  }
}
/* media quary for medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  .features-of-services {
    flex-direction: column-reverse;
    margin: 30px auto;
  }
  .features-of-services-content {
    margin-bottom: 20px;
  }
  .some-facts {
    margin: 0 auto;
  }
  .card-all,
  .sponsors-images {
    flex-direction: column;
  }
  .card-all .card {
    margin-left: 100px;
    margin-right: 100px;
  }
  .facts {
    margin-left: 50px;
  }
  .sponsors-images img {
    margin-bottom: 20px;
    width: 180px;
  }
  .sponsors-images {
    align-items: center;
    margin-left: 60px;
  }
  .features-all{
    flex-direction: column;
  }
}
